<a href="https://colab.research.google.com/github/celestealejandra/PCP_COLMEX/blob/main/pcp_sesi_n03_celestediaz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color = #5F40F7> Programación Científica en Python </font>
##### <font color = #5D70F0> Profesor : Vilchis García Juan Ignacio </p>
<font color = #5D70F0> Alumno : Celeste Alejandra Díaz Calderón </p>
Fecha : Martes 27 de enero de 2026 </font>

### Variables

In [ ]:
# Variables tipo entero

numero = 27

In [ ]:
# Imprimir forma 1
print(numero)

27

In [ ]:
# Imprimir forma 2
display(numero)

27

In [ ]:
# Imprimir forma 3
numero

27

In [ ]:
# Variable tipo entero
numero = 23
print(numero)

23

In [ ]:
# Variable tipo flotante
flotante = 3.1416
display(flotante)

3.1416

In [ ]:
# Variable tipo cadena (string)
cadena = "Hola curso de python"
cadena

'Hola curso de python'

In [ ]:
# Sensible a mayúsculas
Numero = 2
numero = 4
NUMERO = 6

display(Numero)
print(4)
NUMERO

2

4

6

In [ ]:
# Imprimir cadenas de caracteres
print("Hola curso de Python")

Hola curso de Python

In [ ]:
# Concatenar cademas
cadena1 = "Colegio "
cadena2 = "de México"
cadenanueva = cadena1+cadena2
cadenanueva

'Colegio de México'

In [ ]:
# Concatenar cadenas
cadena0 = "Colegio " + "de " + "México"
print(cadena0)

Colegio de México

In [ ]:
# Tipos de datos
print(type(numero))
print(type(flotante))
print(type(cadena))

<class 'int'>
<class 'float'>
<class 'str'>

## Conversiones de tipos de datos (Casting)

In [ ]:
# int a string (de entero a cadena)
numero = 4
cadena = str(numero)

In [ ]:
print(numero)
print(cadena)
print(type(cadena)) #verificamos el tipo de dato

4
4
<class 'str'>

In [ ]:
# str a int
cadena = "45"
numero = int(cadena)

print(cadena)
print(numero)
print(type(numero))  #verificamos el tipo de dato

45
45
<class 'int'>

In [ ]:
# str a float
cadena = "13.4567"
numerodecimal = float(cadena)
print(cadena)
print(numerodecimal)
print(type(numerodecimal))

13.4567
13.4567
<class 'float'>

In [ ]:
# float a string
flotante = 3.1416
cadena = str(flotante)
print(flotante)
print(cadena)
print(type(cadena))

3.1416
3.1416
<class 'str'>

In [ ]:
# Int a float
numero = 6
flotante =  float(6)
display(flotante)
print(type(flotante))

6.0

<class 'float'>

In [ ]:
# De float a int
flotante = 3.1416
entero = int(flotante)
display(flotante)
display(entero)
print(type(entero))

3.1416

3

<class 'int'>

### Ejercicio propuesto 3.01
1.- Crear variable "numero1" que tenga valor de 5 </p>
2.- Indicar que tipo es la variable numero1 </p>
3.- Crear una variable "numero2" que tenga valor de 6.5 </p>
4.- Indicar de qué tipo es la variable numero2 </p>
5.- Crear una variable "numero3" que tenga el valor 7 </p>
6.- Indicar de qué tipo es la variable numero3 </p>
7.- Crear una variable "suma" que tenga el valor de la suma de los 3 números anteriores (numero1, numero2, numero3)</p>
8.- Mostrar el resultado de la variable suma </p>
9.- Indicar de qué tipo es la variable suma </p>

In [ ]:
#1
numero1 = 5
#2
print(type(numero1))

<class 'int'>

In [ ]:
#3
numero2 = 6.5
#4
print(type(numero2))

<class 'float'>

In [ ]:
#5
numero3 = 7
#6
print(type(numero3))

<class 'int'>

In [ ]:
suma = numero1 + numero2 + numero3
#7
#8
display(suma)
#9
display(type(suma))

18.5

float

### Ejercicio Propuesto 3.02
</p> 1.- Crear la variable "numero1" con valor de 5  </p>
2.- Crear la variable "numero2" con valor de 3 </p>
3.- Crear la variable "suma" con el valor de la suma de numero1 y numero2 </p>
4.- Convertir esta variable "suma" en una cadena de caracteres y llamarla strSuma </p>
5.- Crear una variable de resultado que concatene el texto "El resultado es" y la variable "strSuma" </p>
6.- Imprimir el resultado

In [ ]:
#1
numero1 = 5
#2
numero2 = 3
#3
suma = numero1+numero2
#4
strSuma = str(suma)
#5
resultado = "El resultado es " + strSuma
#6
display(resultado )

'El resultado es 8'

### Entrada por teclado

In [ ]:
# Cadenas - input
print("Introduce un nombre")
entrada = input()
print("Hola " + entrada)

Introduce un nombre
Celeste
Hola Celeste

In [ ]:
# Cadenas
nombre = input("Introduce un nombre:")
print("hola "+nombre)

Introduceun nombre:Celeste
hola Celeste

In [ ]:
# Enteros
edad = int(input("Introduce tu edad: "))
print(edad)

Introduce tu edad: 25
25

In [ ]:
# Flotantes
estatura = float(input("Introduce tu estatura: "))
print(estatura)

Introduce tu estatura: 1.65
1.65

### Ejercicio propuesto
Hacer un programa que pida al usuario su nombre, edad y su sexo, estatura, hobbie y los muestras de la siguiente forma </p>

</p> Te llamas: (nombre) </p>
</p> Tu edad es: (edad) </p>
</p> Eres: (sexo) </p>
</p> Mides: (estatura) </p>
</p> Hobbie: (Pasatiempo) </p>

In [ ]:
nombre = input("Introduce tu nombre: ")
edad = int(input("¿Cuántos años tienes? "))
sexo = input("¿Cómo te identificas? ")
estatura = float(input("¿Cuánto mides? "))
pasatiempo = input("Introduce un pasatiempo ")

name = "Te llamas: " + str(nombre) + " \n"
age = "Tienes: " + str(edad) + " años" +  " \n"
sex = "Eres: " + str(sexo) + " \n"
height = "Mides: " + str(estatura) + " \n"
hobbie = "Tu hobbie es: " + str(pasatiempo) + " \n"

print(name + age + sex + height + hobbie )

Introduce tu nombre: Celeste
¿Cuántos años tienes?25
¿Cómo te identificas?Mujer
¿Cuánto mides?1.63
Introduce un pasatiempoJugar juegos de mesa
Te llamas: Celeste.
Tienes: 25años.
Eres: Mujer.
Mides: 1.63.
Tu hobbie es: Jugar juegos de mesa.

### Operadores aritméticos

In [ ]:
# Operadores ariméticos (+, -, *,. /, **, //)

In [ ]:
# Variables
n1 = 10
n2 = 7

In [ ]:
# Suma
res = n1 + n2
print(res)

3

In [ ]:
# Resta
res = n1 - n2
print(res)

3

In [ ]:
# Multiplicación
res = n1 * n2
print(res)

70

In [ ]:
# División
res = n1 / n2
print(res)

# Otras variables
n3 = 20
n4 = 15
res = n3 / n4
print(res)

1.4285714285714286
1.3333333333333333

In [ ]:
# Modulo - residuo
res = n1 % n2
print(res)

res = n3 % n4
print(res)

3
5

In [ ]:
# División entera
res = n1 // n2
print(res)

res = n3 // n4
print(res)

1
1

In [ ]:
# Potencia
res = n1 ** n2
print(res)

res = n3 ** n4
print(res)
#

10000000
32768000000000000000